.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.success {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.logoutButton {
  width: fit-content;
}

.templates {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 250px;
}

.template:hover > .templateLabel {
  color: #e2626e;
}

.templateImage {
  width: 100%;
  margin-bottom: 20px;
}

